<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/login_user" method="post">
        <table>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" placeholder="Enter your email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" placeholder="Enter your password"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Login"></td>
            </tr>
            <tr>
                <td>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </td>
            </tr>
        </table>
    </form>
    <p>If not a user</p>
    <tr>
        <td><a href="/"><button>Register</button></a></td>
    </tr>
</body>

</html>